<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Hot Dog Sales</title>
</head>
<body>
    <h1>Hot Dog Sales <br>  by Joseph </h1>
    <form action="/sales" method="POST">
        <label>Traditional Hot Dogs Sold:</label>
        <input type="number" name="traditional" value="0"><br>
        
        <label>Veggie Hot Dogs Sold:</label>
        <input type="number" name="veggie" value="0"><br>
        
        <label>Curry Hot Dogs Sold:</label>
        <input type="number" name="curry" value="0"><br>
        
        <label>BBQ Hot Dogs Sold:</label>
        <input type="number" name="bbq" value="0"><br>
        
        <label>Spicy Hot Dogs Sold:</label>
        <input type="number" name="spicy" value="0"><br>
        
        <button type="submit">Submit Sales</button>
    </form>
</body>
</html>
